@font-face{
	font-family: "USUZI";
	src: url("images/USUZI.ttf");
	src: url("images/USUZI.woff");
}

body{
	background-color: black;
}

#head{
	margin: auto;
	height: 75px;
	width: 900px;
	padding: 15px;
	font-family: "USUZI";
	font-size: 70px;
	text-align: center;
	animation: change 5s;
	animation-iteration-count: infinite;
}

@keyframes change {
	0%   { color: #00cee6 }
	50%  { color: #d52b67 }
	100% { color: #00cee6 }
}

#scoreboard{
	position: relative;
	background: url("images/board.png") no-repeat;
	background-size: contain;
	margin: 35px auto;
	height: 1000px;
	width: 900px;
}

#names{
	position: absolute;
	margin: auto;
	margin-top: 25px;
}


#content{
	table-layout: fixed;
	margin: 35px auto;
	height: 75%;
	width: 95%;
	font-family: "USUZI";
	font-size: 175%;
}

#content td{
	text-align: center;
	vertical-align: middle;
	height: 50px;
}


#container{
	position: absolute;
	margin-left: 2.5%;
	margin-right: 2.5%;
	height: 99%;
	width: 95%;
}

#avatar{
	background-color: white;
	margin-top: 1%;
	margin-left: 1%;
	height: 30%;
	width: 25%;
	float: left;
}

#username{
	background-color: blue;
	margin-top: 1%;
	margin-right: 1%;
	height: 30%;
	width: 72%;
	float: right;
}

#info{
	background-color: blue;
	margin-top: 24.5%;
	margin-left: 1%;
	height: 66%;
	width: 98%;
}



h1{
	font-family: "USUZI";
	color: white;
	font-size: 500%;
}

#red{
	color: #d52b67;
}

#red a:link, a:visited{
	color: #d52b67;
	text-decoration: none;
}

#blue{
	color: #00cee6;
}

#blue a:link{
	color: #00cee6;
	text-decoration: none;
}


#name{
	margin-top: 0%;
	padding-left: 1%;
}

#board{
	display: block;
	margin: auto;
	width: 60%;
}

#icon{
	display: block;
	margin: auto;
	width: 110%;
	height: 110%;
}